<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/style.css" />
  <title>Superheros</title>
</head>

<body>
  <!-- As a heading -->
  <nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">SUPERHEROS</span>
    <div class="form-inline">
      <input class="form-control mr-sm-2" type="text" placeholder="Superhero Name..." aria-label="Search" id="txtName">
      <button class="btn btn-success my-2 my-sm-0" type="button" id="search">Search</button>
    </div>
  </nav>

  <div class="container">
    <div class="row" id="display">

    </div>

    <!-- Modal Display persons -->
    <div class="modal fade" id="SuperheroModal" tabindex="-1" role="dialog" aria-labelledby="superheroName"
      aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="superheroName"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Powerstats -->
            <div class="row">
              <div class="col-sm-2 offset-md-1">
                <img id="heroImage" class="img-thumbnail" alt="" />
              </div>
              <div class="col-sm-8 mt-2">
                <h5 class="header">Powerstats</h5>
                <div class="row">
                  <div class="col-sm-6 mt-2">Intelligence
                    <div class="progress">
                      <div id="intelligence" class="progress-bar bg-success" role="progressbar" aria-valuemin="0"
                        aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="col-sm-6 mt-2">Strength
                    <div class="progress">
                      <div id="strength" class="progress-bar bg-success" role="progressbar" aria-valuemin="0"
                        aria-valuemax="100"></div>
                    </div>
                  </div>

                  <div class="w-100"></div>
                  <div class="col-sm-6 mt-2">Speed
                    <div class="progress">
                      <div id="speed" class="progress-bar bg-success" role="progressbar" aria-valuemin="0"
                        aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="col-sm-6 mt-2">Durability
                    <div class="progress">
                      <div id="durability" class="progress-bar bg-success" role="progressbar" aria-valuemin="0"
                        aria-valuemax="100"></div>
                    </div>
                  </div>

                  <div class="w-100"></div>
                  <div class="col-sm-6 mt-2">Power
                    <div class="progress">
                      <div id="power" class="progress-bar bg-success" role="progressbar" aria-valuemin="0"
                        aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="col-sm-6 mt-2">Combat
                    <div class="progress">
                      <div id="combat" class="progress-bar bg-success" role="progressbar" aria-valuemin="0"
                        aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Biography -->
            <div class="row">
              <div class="col-sm-10 offset-md-1 mt-4">
                <h5 class="header">Biography</h5>
              </div>
              <div class="w-100"></div>
              <div class="col-sm-2 offset-md-1">
                <b>Full Name</b>
              </div>
              <div class="col-sm-3">
                <span id="full-name"></span>
              </div>
              <div class="col-sm-2">
                <b>Alter Egos</b>
              </div>
              <div class="col-sm-3">
                <span id="alter-egos"></span>
              </div>
              <div class="col-sm-2 offset-md-1">
                <b>Aliases</b>
              </div>
              <div class="col-sm-3">
                <span id="aliases"></span>
              </div>
              <div class="col-sm-2">
                <b>Place of Birth</b>
              </div>
              <div class="col-sm-3">
                <span id="place-of-birth"></span>
              </div>
              <div class="col-sm-2 offset-md-1">
                <b>Publisher</b>
              </div>
              <div class="col-sm-3">
                <span id="publisher"></span>
              </div>
              <div class="col-sm-2">
                <b>Alignment</b>
              </div>
              <div class="col-sm-3">
                <span id="alignment"></span>
              </div>
            </div>
            <!-- Appearance -->
            <div class="row">
              <div class="col-sm-10 offset-md-1 mt-4">
                <h5 class="header">Appearance</h5>
              </div>
              <div class="w-100"></div>
              <div class="col-sm-2 offset-md-1">
                <b>Gender</b>
              </div>
              <div class="col-sm-3">
                <span id="gender"></span>
              </div>
              <div class="col-sm-2">
                <b>Race</b>
              </div>
              <div class="col-sm-3">
                <span id="race"></span>
              </div>
              <div class="col-sm-2 offset-md-1">
                <b>Height</b>
              </div>
              <div class="col-sm-3">
                <span id="height"></span>
              </div>
              <div class="col-sm-2">
                <b>Weight</b>
              </div>
              <div class="col-sm-3">
                <span id="weight"></span>
              </div>
              <div class="col-sm-2 offset-md-1">
                <b>Eye Color</b>
              </div>
              <div class="col-sm-3">
                <span id="eye-color"></span>
              </div>
              <div class="col-sm-2">
                <b>Hair Color</b>
              </div>
              <div class="col-sm-3">
                <span id="hair-color"></span>
              </div>
            </div>
            <!-- Work -->
            <div class="row">
              <div class="col-sm-10 offset-md-1 mt-4">
                <h5 class="header">Work</h5>
              </div>
              <div class="w-100"></div>
              <div class="col-sm-2 offset-md-1">
                <b>Occupation</b>
              </div>
              <div class="col-sm-3">
                <span id="occupation"></span>
              </div>
              <div class="col-sm-2">
                <b>Base</b>
              </div>
              <div class="col-sm-3">
                <span id="base"></span>
              </div>
            </div>
            <!-- Connections -->
            <div class="row mb-4">
              <div class="col-sm-10 offset-md-1 mt-4">
                <h5 class="header">Connections</h5>
              </div>
              <div class="w-100"></div>
              <div class="col-sm-2 offset-md-1">
                <b>Group Affiliation</b>
              </div>
              <div class="col-sm-3">
                <span id="group-affiliation"></span>
              </div>
              <div class="col-sm-2">
                <b>Relatives</b>
              </div>
              <div class="col-sm-3">
                <span id="relatives"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Not found -->
    <div class="modal fade" id="notFound" tabindex="-1" role="dialog" aria-labelledby="notFoundName" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="notFoundName">Not Found</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Sorry, cannot find your superhero. :(
            <br />
            Please try again.
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Loading/Searching -->
    <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="loadingModalName"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="d-flex align-items-center justify-content-center">
              <div class="spinner-border" role="status" aria-hidden="true"></div>
              <strong>&nbsp;&nbsp;Please wait, Loading...</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="javascripts/custom.js"> </script>
</body>

</html>